kdomic_aplikacija_2_web/web/WEB-INF/wsdl/localhost_8084/kdomic_aplikacija_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.ws.kdomic.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.ws.kdomic.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://server.ws.kdomic.nwtis.foi.org/" schemaLocation="http://localhost:8084/kdomic_aplikacija_1/GeoMeteoWS?xsd=1" />
</xsd:schema>
</types>
<message name="getRecentGeoMeteo">
<part name="parameters" element="tns:getRecentGeoMeteo" />
</message>
<message name="getRecentGeoMeteoResponse">
<part name="parameters" element="tns:getRecentGeoMeteoResponse" />
</message>
<message name="getMeteoInDateRange">
<part name="parameters" element="tns:getMeteoInDateRange" />
</message>
<message name="getMeteoInDateRangeResponse">
<part name="parameters" element="tns:getMeteoInDateRangeResponse" />
</message>
<message name="getAllMeteoAddress">
<part name="parameters" element="tns:getAllMeteoAddress" />
</message>
<message name="getAllMeteoAddressResponse">
<part name="parameters" element="tns:getAllMeteoAddressResponse" />
</message>
<message name="getAddressListWithMostData">
<part name="parameters" element="tns:getAddressListWithMostData" />
</message>
<message name="getAddressListWithMostDataResponse">
<part name="parameters" element="tns:getAddressListWithMostDataResponse" />
</message>
<message name="getFullNameFromGoogle">
<part name="parameters" element="tns:getFullNameFromGoogle" />
</message>
<message name="getFullNameFromGoogleResponse">
<part name="parameters" element="tns:getFullNameFromGoogleResponse" />
</message>
<message name="getLastsMeteoForAdress">
<part name="parameters" element="tns:getLastsMeteoForAdress" />
</message>
<message name="getLastsMeteoForAdressResponse">
<part name="parameters" element="tns:getLastsMeteoForAdressResponse" />
</message>
<message name="getAddresFromName">
<part name="parameters" element="tns:getAddresFromName" />
</message>
<message name="getAddresFromNameResponse">
<part name="parameters" element="tns:getAddresFromNameResponse" />
</message>
<message name="getCurrentMeteoForAddreass">
<part name="parameters" element="tns:getCurrentMeteoForAddreass" />
</message>
<message name="getCurrentMeteoForAddreassResponse">
<part name="parameters" element="tns:getCurrentMeteoForAddreassResponse" />
</message>
<portType name="GeoMeteoWS">
<operation name="getRecentGeoMeteo">
<input wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getRecentGeoMeteoRequest" message="tns:getRecentGeoMeteo" />
<output wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getRecentGeoMeteoResponse" message="tns:getRecentGeoMeteoResponse" />
</operation>
<operation name="getMeteoInDateRange">
<input wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getMeteoInDateRangeRequest" message="tns:getMeteoInDateRange" />
<output wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getMeteoInDateRangeResponse" message="tns:getMeteoInDateRangeResponse" />
</operation>
<operation name="getAllMeteoAddress">
<input wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getAllMeteoAddressRequest" message="tns:getAllMeteoAddress" />
<output wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getAllMeteoAddressResponse" message="tns:getAllMeteoAddressResponse" />
</operation>
<operation name="getAddressListWithMostData">
<input wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getAddressListWithMostDataRequest" message="tns:getAddressListWithMostData" />
<output wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getAddressListWithMostDataResponse" message="tns:getAddressListWithMostDataResponse" />
</operation>
<operation name="getFullNameFromGoogle">
<input wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getFullNameFromGoogleRequest" message="tns:getFullNameFromGoogle" />
<output wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getFullNameFromGoogleResponse" message="tns:getFullNameFromGoogleResponse" />
</operation>
<operation name="getLastsMeteoForAdress">
<input wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getLastsMeteoForAdressRequest" message="tns:getLastsMeteoForAdress" />
<output wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getLastsMeteoForAdressResponse" message="tns:getLastsMeteoForAdressResponse" />
</operation>
<operation name="getAddresFromName">
<input wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getAddresFromNameRequest" message="tns:getAddresFromName" />
<output wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getAddresFromNameResponse" message="tns:getAddresFromNameResponse" />
</operation>
<operation name="getCurrentMeteoForAddreass">
<input wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getCurrentMeteoForAddreassRequest" message="tns:getCurrentMeteoForAddreass" />
<output wsam:Action="http://server.ws.kdomic.nwtis.foi.org/GeoMeteoWS/getCurrentMeteoForAddreassResponse" message="tns:getCurrentMeteoForAddreassResponse" />
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getRecentGeoMeteo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMeteoInDateRange">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllMeteoAddress">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAddressListWithMostData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getFullNameFromGoogle">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLastsMeteoForAdress">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAddresFromName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCurrentMeteoForAddreass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8084/kdomic_aplikacija_1/GeoMeteoWS" />
</port>
</service>
</definitions>